{% extends 'base.html.twig' %}

{% block title %}ProductionRecipeStructure index{% endblock %}

{% block body %}
    <h1>ProductionRecipeStructure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StructureName</th>
                <th>StructureOrdering</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for production_recipe_structure in production_recipe_structures %}
            <tr>
                <td>{{ production_recipe_structure.id }}</td>
                <td>{{ production_recipe_structure.StructureName }}</td>
                <td>{{ production_recipe_structure.StructureOrdering }}</td>
                <td>
                    <a href="{{ path('app_production_recipe_structure_show', {'id': production_recipe_structure.id}) }}">show</a>
                    <a href="{{ path('app_production_recipe_structure_edit', {'id': production_recipe_structure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_production_recipe_structure_new') }}">Create new</a>
{% endblock %}
