{% extends 'base.html.twig' %}

{% block title %}Nomenclature index{% endblock %}

{% block body %}
    <h1>Nomenclature index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomenclatureName</th>
                <th>NomenclatureArticul</th>
                <th>NomenclatureGUID</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nomenclature in nomenclatures %}
            <tr>
                <td>{{ nomenclature.id }}</td>
                <td>{{ nomenclature.NomenclatureName }}</td>
                <td>{{ nomenclature.NomenclatureArticul }}</td>
                <td>{{ nomenclature.NomenclatureGUID }}</td>
                <td>
                    <a href="{{ path('app_nomenclature_show', {'id': nomenclature.id}) }}">show</a>
                    <a href="{{ path('app_nomenclature_edit', {'id': nomenclature.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nomenclature_new') }}">Create new</a>
{% endblock %}
