{% extends 'base.html.twig' %}

{% block title %}Assignment index{% endblock %}

{% block body %}
    <h1>Assignment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assignment in assignments %}
            <tr>
                <td>{{ assignment.id }}</td>
                <td>{{ assignment.name }}</td>
                <td>
                    <a href="{{ path('app_assignment_show', {'id': assignment.id}) }}">show</a>
                    <a href="{{ path('app_assignment_edit', {'id': assignment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_assignment_new') }}">Create new</a>
{% endblock %}
