{% extends 'base.html.twig' %}

{% block title %}NomenclatureTypes{% endblock %}

{% block body %}
    <h1>NomenclatureTypes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nomenclature_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ nomenclature_type.Name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nomenclature_types_index') }}">back to list</a>

    <a href="{{ path('app_nomenclature_types_edit', {'id': nomenclature_type.id}) }}">edit</a>

    {{ include('nomenclature_types/_delete_form.html.twig') }}
{% endblock %}
