{% extends 'base.html.twig' %}

{% block title %}ProductionType index{% endblock %}

{% block body %}
    <h1>ProductionType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for production_type in production_types %}
            <tr>
                <td>{{ production_type.id }}</td>
                <td>{{ production_type.Name }}</td>
                <td>
                    <a href="{{ path('app_production_type_show', {'id': production_type.id}) }}">show</a>
                    <a href="{{ path('app_production_type_edit', {'id': production_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_production_type_new') }}">Create new</a>
{% endblock %}
