{{ form_start(form) }}
<div class="intro-y grid grid-cols-12 gap-6 mt-5">

    <div class="col-span-12 md:col-span-6">
        <div class="input-group">
            <div id="input-group"
                 class="input-group-text">{{ form_label(form.RecipeName,'Наименование рецепта') }}</div>
            {{ form_widget(form.RecipeName,{ 'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="col-span-12 md:col-span-6">
        <div class="input-group">
            <div id="input-group"
                 class="input-group-text">{{ form_label(form.ProductionType,'Вид производства') }}</div>
            {{ form_widget(form.ProductionType,{ 'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="col-span-12">
        <ul class="nav nav-boxed-tabs" role="tablist">
            <li id="example-3-tab" class="nav-item flex-1" role="presentation">
                <button class="nav-link w-full py-2 active" data-tw-toggle="pill" data-tw-target="#structure-tab"
                        type="button"
                        role="tab" aria-controls="structure-tab" aria-selected="true"> Этапы производства
                </button>
            </li>
            <li id="example-4-tab" class="nav-item flex-1" role="presentation">
                <button class="nav-link w-full py-2" data-tw-toggle="pill" data-tw-target="#example-tab-4" type="button"
                        role="tab" aria-controls="example-tab-4" aria-selected="false"> Структура рецепта
                </button>
            </li>
            <li id="debug-tab" class="nav-item flex-1" role="presentation">
                <button class="nav-link w-full py-2" data-tw-toggle="pill" data-tw-target="#debug-tab" type="button"
                        role="tab" aria-controls="debug-tab" aria-selected="false"> Debug Tab
                </button>
            </li>
        </ul>

        <div class="tab-content mt-5">
            <div id="structure-tab" class="tab-pane leading-relaxed " role="tabpanel"
                 aria-labelledby="example-3-tab">
                <table>
                    {% for production_recipe_argument in production_recipe.productionRecipeArguments %}
                        <tr>
                            <td>{{ production_recipe_argument.id }}</td>
                            <td>{{ production_recipe_argument.Name }}</td>
                            <td>{{ production_recipe_argument.RecipeArgumentGUID }}</td>
                            <td>{{ production_recipe_argument.RecipeArgumentID }}</td>
                            <td>
                                <a href="{{ path('app_production_recipe_arguments_show', {'id': production_recipe_argument.id}) }}">show</a>
                                <a href="{{ path('app_production_recipe_arguments_edit', {'id': production_recipe_argument.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="example-tab-4" class="tab-pane leading-relaxed active" role="tabpanel"
                 aria-labelledby="example-4-tab">
                <div class="intro-y box bg-primary p-5 mt-6">
                    <div class="intro-y flex flex-col sm:flex-row items-center mt-2 mb-2">
                        <h2 class="text-lg font-medium mr-auto">
                            Параметры рецепта</h2>
                        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
                            <a class="btn btn-primary shadow-md mr-2">
                                <i data-lucide="plus" class="block mx-auto"></i>  <span class="hidden md:block">Добавить параметр</span></a>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <th>Наименование параметра</th>
                        <th>Обозначение в формуле</th>
                        </thead>
                        {% for production_recipe_argument in production_recipe.productionRecipeArguments %}
                            <tr>
                                <td>{{ production_recipe_argument.Name }}</td>
                                <td>{{ production_recipe_argument.RecipeArgumentID }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="intro-y box bg-primary p-5 mt-6">
                    {% for productionRecipeStructures in production_recipe.productionRecipeStructures %}

                        <h3 class="intro-y text-lg font-medium mr-auto mt-2 mb-4">{{ productionRecipeStructures.StructureOrdering }}
                            . {{ productionRecipeStructures.StructureName }} </h3>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <th>Номенклатура</th>
                            <th>Ед. измер.</th>
                            <th>Параметр</th>
                            <th>Формула расчёта</th>
                            </thead>
                            <tbody>
                            {% for content in productionRecipeStructures.productionRecipeContents %}
                                <tr>

                                    <td>{{ content.Nomenclature.NomenclatureName }}</td>
                                    <td>{{ content.Nomenclature.Unit }}</td>
                                    <td>{{ content.PostionArgument }}</td>
                                    <td>{{ content.PostionFormula }}</td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                    {% endfor %}
                </div>
            </div>
            <div id="debug-tab" class="tab-pane leading-relaxed" role="tabpanel" aria-labelledby="debug-tab">
                {{ dump(form) }}
            </div>
        </div>
    </div>
    <div class="col-span-12">
        <div class="intro-y flex flex-col-reverse sm:flex-row items-center">
            <div class="w-full sm:w-auto relative mr-auto mt-3 sm:mt-0">

            </div>
            <div class="w-full sm:w-auto flex">
                <button class="btn btn-primary shadow-md mr-2">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    </div>
</div>


{{ form_widget(form) }}
{{ form_end(form) }}
